/* Menu Hamburger */

#menuToggle {
    display: block;
    position: relative;
    /* top: 50px;
    left: 3%; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    margin-left: -10px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    border-radius: 20px;
}

#menuToggle input:checked~ul {
    transform: none;
}

.city-menu {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

.city-hover:hover {
    opacity: 0.6;
    cursor: pointer;
}

.city-image {
    margin: 10px;
    height: 100px;
    width: 100px;
}


/* ---- Landing Page ---- */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.day-background {
    background-image: url("/static/homePage/backgroundDay.png");
}

.night-background {
    background-image: url("/static/homePage/backgroundNight.png");
}

#div-vue-bar {
    width: 30%;
    position: absolute;
    bottom: 3.5%;
    left: 29%;
    z-index: 99999;
}

.center {
    position: fixed;
    width: 100%;
    height: 650px;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
}

.img-buildings {
    position: absolute;
    height: 650px;
    bottom: 0px;
}

#img1 {
    position: absolute;
    height: 44px;
    top: 215px;
    left: 689px;
}

#img1:hover {
    transform: scale(2);
}

#img2 {
    position: absolute;
    height: 44px;
    top: 215px;
    left: 761px;
}

#img2:hover {
    transform: scale(2);
}

#img3 {
    position: absolute;
    height: 44px;
    top: 215px;
    left: 887px;
}

#img3:hover {
    transform: scale(2);
}

#img4 {
    position: absolute;
    height: 44px;
    top: 215px;
    left: 1014px;
}

#img4:hover {
    transform: scale(2);
}

#img5 {
    position: absolute;
    height: 44px;
    top: 215px;
    left: 1086px;
}

#img5:hover {
    transform: scale(2);
}

#img6 {
    position: absolute;
    height: 44px;
    top: 222px;
    left: 1462px;
}

#img6:hover {
    transform: scale(2);
}

#img7 {
    position: absolute;
    height: 44px;
    top: 222px;
    left: 1546px;
}

#img8:hover {
    transform: scale(2);
}

#img8 {
    position: absolute;
    height: 44px;
    top: 222px;
    left: 1630px;
}

#img7:hover {
    transform: scale(2);
}

#toggleButton {
    position: absolute;
    bottom: 2.4%;
    right: 29%;
    z-index: 99999;
}

#tooltip {
    height: 70px;
    position: relative;
    bottom: 48px;
}

.sun {
    position: absolute;
    bottom: 2.5%;
    right: 25.5%;
    width: 35px;
    height: 35px;
}

.moon {
    position: absolute;
    bottom: 2.5%;
    left: 64.2%;
    width: 35px;
    height: 35px;
}


/* .lisbonText {
    position: absolute;
    bottom: 14%;
    left: 35%;
    width: 350px;
    height: 150px;
} */


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */